<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <i class="fas fa-dollar-sign fa-6x"></i>
        <h1 class="display-3">Wymień</h1>
        <hr />
        <div>

            <form action="/exchange" method="POST">
                <div class="form-row">
                    <div class="col">
                        <label for="exampleFormControlSelect1">Ilość</label>
                        <input name="quanity" class="form-control" type="number" />
                    </div>
                    <div class="col">

                        <div class="form-group">
                            <label for="drop1">Wymień</label>
                            <select class="form-control" id="drop1" name="from">
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                                <option value="NOK">NOK</option>
                                <option value="PLN">PLN</option>
                                <option value="GBP">GBP</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="drop2">Na</label>
                            <select class="form-control" id="drop2" name="to">
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                                <option value="NOK">NOK</option>
                                <option value="PLN">PLN</option>
                                <option value="GBP">GBP</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <button class="btn btn-success" type="submit">Wymień </button>
                </div>
            </form>



        </div>
        <div>
            <a href="/kantor">
                <i class="arrow fas fa-long-arrow-alt-left fa-5x"></i>
            </a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>